th {
    text-align: center;
    background: rgb(178, 230, 173);
    padding: 0.5vw;
}
td {
    text-align: center;
    border: solid thin rgb(178, 230, 173);
    padding: 0.5vw;
}
table {
    border: solid thin rgb(178, 230, 173); 
    margin: 1vw auto;
}

.error {
    color: red;
}

svg {
    display: block;
    width: 800px;
    height: 500px;
    margin: auto;
}
svg text {
    font: 8px Verdana;
}
svg path, line {
    fill: none;
    stroke: #333333;
    width: 1px;
}