h3 {
    text-align: center;
}
table {
    border: solid thin black;
    width: 80%;
    margin: auto;
}
td, th {
    border: solid thin black;
    padding: 5px 10px;
}
th {
    background: lightblue;
}

.show {
    display: table-row;
}

.hide {
    display: none;
}

#pag {
    margin: 20px 130px;
}

#pag span {
    margin: 0 20px;
}
#pag span:hover {
    cursor: pointer;
}
#pag span.active {
    color: blue;
    font-weight: bold;
}

form, h4 {
    margin: 20px 145px;
}

button {
    margin-right: 5px;
}